* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

#todo {
  margin: 0;
  padding: 0;
  width: 100%
}

header{
  width: 100%;
  background: rgb(255,165,0);
  background: linear-gradient(90deg, rgba(255,165,0,1) 40%, rgba(255,188,64,1) 78%);
}

/* div criada para "amarrar" todo o header  */
.topo{
  display: flex;
}

/* espaço destinado para a logomarca */
.logo{
  margin: 20px 0;
}

/* comandos logomarca imagem*/
header .logo img {
  width: 110px;
  border-radius: 12%;
}

/* comando que vai centralizar tudo*/
.centralizar {
  max-width: 1200px;
  margin: 0 auto;
}

/* botão buscar na header */
.busca{
  display: flex;
  margin-top: 110px;
  margin-left: 80px;
  padding: 5px;
} 

#txtBusca{
  height: 20px;
  margin-left: 5px;
  width: 200px;
}

/* navegação - links */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 100px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
  padding: 10px 0;
}

nav ul li a {
  color: #FFF;
  text-decoration: none;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* conteudo página internas */
.conteudointernas{
  padding: 10px;
}

.secaointerna{
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 10px;
  align-items: center;
  justify-content: center;

}

.secaointerna h1{
  text-align:center;
  margin: 25px;
  font-size: 30px;
}

.texto-secaointerna {
  margin: 20px;
  font: 12.5pt Arial ;
  width: 65%;
}

.imagemsecaointerna {
  margin-left: 10px;
  margin-top: 50px;
  width: 35%;
}

.imagemsecaointerna img {
  width: 100%;

}

/* PÁGINA DE SERVIÇOS: */
/* Título usado na página de serviços */
.titulo1{
  text-align: center;
  padding: 10px;
  font-size: 30px;
}

/* espaço para as images da página de serviços */
.secaointerna2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
}

.secaointerna2 img{
  padding: 10px;
}

legend{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}


@media (max-width: 1053px) {
  .secaointerna {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  nav {
    padding: 0;
    margin-bottom: 15px;
    text-align: center;
  }

  nav ul li {
    line-height: 17px;
    padding: 5px 0;
  }

  nav ul li a {
    font-size: 17px;
  }

  .topo{
    flex-direction:column;
    align-items: center;
    max-height: none;
  }

  header .logo img {
    height: 60px;
    width: auto;
  }

  .busca{
    display: none;
  }

  .conteudointernas{
    padding: 0;
  }

  .texto-secaointerna {
    width: auto;
  }

  .imagemsecaointerna {
    width: auto;
    margin: 0;
    padding: 15px;
  }
}

.formcontato{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgb(90, 82, 82);
  margin-left: 20px;
  margin-top: 10px;
  background-color: rgb(230, 229, 227);      
}
.imgmapa{
  display: flex;
  justify-content: center;
  width: 25%; 
  margin-top: 100px;
  margin-bottom: 20px; 
}

/* footer */
footer{
  width: 100%;
  background: rgb(255,165,0);
  background: linear-gradient(90deg, rgba(255,165,0,1) 40%, rgba(255,188,64,1) 78%);
  /* margin: 10px; */
}



.footerimglogo{
  border-radius: 5px 10px 5px 10px;
  width: 50px;
  height: 50px;
  margin-bottom: -35px;
 
  }


.redeimg{
  /* align-items: center; */
  height: 40px;
  width: 40px;
  margin-left: 10px;


} 


 .redes{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  padding: 20px;
 margin-top: 500px; 
}


.textofoot{
text-align: center;
text-decoration: none;
font-size: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: white;
padding: 20px;
} 

.foo {
  margin-left: 700px;
  list-style: none;
  float: left;
  position: relative;    
  top: 0;
 
  
}

.foo li{
  position: relative;
  float:left;
 
}

.foo li a{
  color: fff;
  text-decoration: none;
  padding: 2px 5px;
  font-size: 15px;
  display: block;
  
}

.foo li a:hover {
  color: #333535;

}

.foo li ul{
  position: absolute;
  top:-40px;
  left: 0;
  display: none;
}

.foo li:hover ul,
.foo li.over ul {
  display: block;
}

.foo li ul li{

  display: block;
  width: 600px;
}

.textofoot1{
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  padding: 20px;
  } 