*{
  margin: 0;
  padding: 0;
}

#todo{
  margin: 0;
  padding: 0;
  width: 100%
}

header{
  width: 100%;
  background: rgb(255,165,0);
  background: linear-gradient(90deg, rgba(255,165,0,1) 40%, rgba(255,188,64,1) 78%);
  position: fixed;
  z-index: 10;
}

/* div criada para "amarrar" todo o header  */
.topo{
  display: flex;
}

/* espaço destinado para a logomarca */
.logo{
  margin: 20px 0;
}

/* comandos logomarca imagem*/
header .logo img {
  width: 110px;
  border-radius: 12%;
}

/* comando que vai centralizar tudo*/
.centralizar {
  max-width: 1200px;
  margin: 0 auto;
}

/* botão buscar na header */
.busca{
  display: flex;
  margin-top: 110px;
  margin-left: 80px;
  padding: 5px;
} 

#txtBusca{
  height: 15px;
  margin-left: 5px;
  width: 200px;
}

/* navegação - links */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 100px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
  padding: 10px 0;
}

nav ul li a {
  color: #FFF;
  text-decoration: none;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



 /* primeira seção, imagem grande - carrocel
.primeira{
  background-color: rgb(219, 227, 230);
}

.primeira .fachada{
  background-image: url(img/fachada.jpg);
  background-size: cover;
  background-position: center bottom;
  height: 450px;

}  */


/* seção imagens principal */
article{
  background-color: #f1eded;
  padding: 20px;

}

article .titulo1{
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 19px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 15px;
}
.imagensprincipal{
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  
}

.imagensprincipal img {
  width: 330px;
  height: 260px;
  padding: 10px;
  
}

/* Seção quem somos / Transfer (secao2) */
article.secaofora{
  background-color: rgb(219, 227, 230);
}

.secao{
  display: flex;
  flex-direction: row;
  padding: 20px;
  align-content: center;
}


.imagemsecao img{
  width: 300px;
  height: 200px;
  padding: 20px;
}

.texto-secao{
  font-size: 17px;
  text-align: justify;
  line-height: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.texto-secao h1{
  padding: 10px;
  text-align: center;
}

article.secao2{
  background-color: #f1eded;
}

.texto-secao p{
  padding: 10px;
}

/* conteudo página internas */
.conteudointernas{
  padding-top: 140px;
}

.secaointerna{
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 10px;
  align-items: center;
  justify-content: center;

}

.secaointerna h1{
  text-align:left;
  margin: 25px;
  font-size: 30px;
}

.texto-secaointerna{
  margin:20px;
  font: 12.5pt Arial ;

}

.imagemsecaointerna{
  height: 180px;
  margin-left: 10px;
}

@media (max-width: 1000px) {
  .secaointerna {
      flex-direction: column;
      align-items: center;
  }
}

/* footer */
footer{
  width: 100%;
  background: rgb(255,165,0);
  background: linear-gradient(90deg, rgba(255,165,0,1) 40%, rgba(255,188,64,1) 78%);
  /* margin: 10px; */
}



.footerimglogo{
  border-radius: 5px 10px 5px 10px;
  width: 50px;
  height: 50px;
  margin-bottom: -35px;
 
  }


.redeimg{
  /* align-items: center; */
  height: 40px;
  width: 40px;
  margin-left: 10px;


} 


 .redes{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  padding: 20px;
 margin-top: 500px; 
}


.textofoot{
text-align: center;
text-decoration: none;
font-size: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: white;
padding: 20px;
} 

.foo {
  margin-left: 800px;
  list-style: none;
  float: left;
  position: relative;    
  top: 0;
 
  
}

.foo li{
  position: relative;
  float:left;
 
}

.foo li a{
  color: fff;
  text-decoration: none;
  padding: 2px 5px;
  font-size: 15px;
  display: block;
  
}

.foo li a:hover {
  color: #333535;

}

.foo li ul{
  position: absolute;
  top:-40px;
  left: 0;
  display: none;
}

.foo li:hover ul,
.foo li.over ul {
  display: block;
}

.foo li ul li{

  display: block;
  width: 580px;
}

.textofoot1{
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  padding: 20px;
  } 