*{
  margin: 0;
  padding: 0;
}

#todo{
  margin: 0;
  padding: 0;
  width: 100%
}

header{
  width: 100%;
  background: rgb(9,147,243);
  background: linear-gradient(90deg, rgba(9,147,243,1) 40%, rgb(51, 162, 236) 78%);
  position: fixed;

   z-index: 10;
}

/* div criada para "amarrar" todo o header  */
.topo{
  display: flex;
}

/* espaço destinado para a logomarca */
.logo{
  margin: 20px 0;
}

/* comandos logomarca imagem*/
header .logo img {
  width: 110px;
  border-radius: 12%;
}

/* comando que vai centralizar tudo*/
.centralizar {
  max-width: 1200px;
  margin: 0 auto;
}

/* botão buscar na header */
.busca{
  display: flex;
  margin-top: 110px;
  margin-left: 80px;
  padding: 5px;
} 

#txtBusca{
  height: 15px;
  margin-left: 5px;
  width: 200px;
}

/* navegação - links */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 100px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
  padding: 10px 0;
}

nav ul li a {
  color: #FFF;
  text-decoration: none;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



 /* primeira seção, imagem grande - carrocel
.primeira{
  background-color: rgb(219, 227, 230);
}

.primeira .fachada{
  background-image: url(img/fachada.jpg);
  background-size: cover;
  background-position: center bottom;
  height: 450px;

}  */






/* seção imagens principal */
article{
  background-color: #f1eded;
  padding: 20px;

}

article .titulo1{
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 19px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 15px;
}
.imagensprincipal{
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  
}

.imagensprincipal img {
  width: 330px;
  height: 260px;
  padding: 10px;
  
}

/* Seção quem somos / Transfer (secao2) */
article.secaofora{
  background-color: rgb(219, 227, 230);
}

.secao{
  display: flex;
  flex-direction: row;
  padding: 20px;
  align-content: center;
}


.imagemsecao img{
  width: 300px;
  height: 200px;
  padding: 20px;
}

.texto-secao{
  font-size: 17px;
  text-align: justify;
  line-height: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.texto-secao h1{
  padding: 10px;
  text-align: center;
}

article.secao2{
  background-color: #f1eded;
}

.texto-secao p{
  padding: 10px;
}

/* conteudo página internas */
.conteudointernas{
  padding-top: 140px;
}

.secaointerna{
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 10px;
  align-items: center;
  justify-content: center;
  height: 400px;
}


.secaointerna h1{
  text-align:left;
  margin: 30px;
  font-size: 30px;
}

/* footer */
footer{
  background-color: #0993f3;
}

/* texto footer */
.textofoot{
  text-align: center;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  padding: 20px;
}




















/*  Carroucel 
 primeira seção, imagem grande - carrocel */

.primeira{  
  background-color: lightskyblue;
  background-image: linear-gradient(to top, transparent, rgba(47, 20, 79,0.5));
}

.primeira .fachada{
  /* background-image: url(img/fachada.jpg);
  background-size: cover;
  background-position: center bottom; */
  height: 600px;
 
}


.carousel__stage img{
  width: 100%;
  height: 550px;
 
}

.carousel input {
  position: absolute;
  left: -10000px;
}




.carousel {
  width: 80%;
  height: 80%;
  margin: 0 auto;
}




.carousel__stage {
  margin-top: 150px;
  overflow: hidden;
  font-size: 0;
  white-space: nowrap;
  width: 100%;
  height: 70%;
  transition: text-indent 500ms;
  position: relative;
}




.carousel__item {
  display: inline-block;
  text-indent: 0;
  width: 100%;
  height: 100%;
}




.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.carousel__control {
  display: none;
  position: absolute;
  top: 50%;
  color: #fff;
  background: rgba(255, 255, 255, 0.3);
  z-index: 1;
  font-size: 1rem;
  padding: 20px;
  cursor: pointer;
}




.carousel__prev {
  left: 0;
}



.carousel__prev::after {
  content: ' << ';
  display: inline-block;
}



.carousel__next {
  right: 0;
}



.carousel__next::after {
  content: ' >> ';
  display: inline-block;
}




#carousel1:checked ~ .carousel__stage {
  text-indent: 0;
}




#carousel2:checked ~ .carousel__stage {
  text-indent: -100%;
}


#carousel3:checked ~ .carousel__stage {
  text-indent: -200%;
}



#carousel4:checked ~ .carousel__stage {
  text-indent: -300%;
}



#carousel1:checked ~ .carousel__stage .carousel__item:nth-child(1) .carousel__control,
#carousel2:checked ~ .carousel__stage .carousel__item:nth-child(2) .carousel__control,
#carousel3:checked ~ .carousel__stage .carousel__item:nth-child(3) .carousel__control,
#carousel4:checked ~ .carousel__stage .carousel__item:nth-child(4) .carousel__control {
  display: block;
}







/* section fotos de passeios */ 



.imagensprincipal .card{
  position:relative;
  height:400px;
  background:white;
  display:flex;
  width:30%;
  margin:10px ;
  padding:10px;
}

.card .imgs img{
   height: 350px;
   width: 350px;
}

.card .imgs{
  position:absolute;
  top:0;
	left:0;
  width:100%;
  height:90%;
  background:orange;
  z-index:1;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
  transition:0.5s ease-in-out;

}


.card:hover .imgs{
  width:50%;
  height:50%;
  left:10px;
  top:calc(50%-75px);
  transition:0.5s ease-in-out;
  background:rgba(26,184,234,.5);
}

.imagensprincipal .card:hover .imgs img{
	width:170px;
	height:200px;
  justify-content:center;
	 align-items:center;
}



.imagensprincipal .card .imgs:before{
  content:attr(data-text);
  position:absolute;
  bottom:0;
	 left:0;
   width:100%;
}


.imagensprincipal .card .content{
  position:absolute;
  right:0;
  width:calc(100% - 75px);
  height:100%;
  padding:30px;
  display:flex;  
  justify-content:center;
  align-items:center;
}	


.imagensprincipal .card .content h3{
  margin-left:20%;
  margin-top: 30px;
  font-size:30px;
  font-family: 'Poppins', sans-serif;  
  color: blue;
}	











@media(max-width:1053){

  .imagensprincipal{
    width:100%; 
	  flex-direction:column;
	  align-items:center;
  }


  .imagensprincipal .card{
    width:800px;   
  }


  .imagensprincipal .card img{
    width:200px;   
  }
 




}
